.about {
  max-width: 32rem;
  margin: 10rem auto 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  padding: 0 2rem;
  box-sizing: content-box;
  @media screen and (min-width: 800px) {
    box-sizing: border-box;
    flex-direction: row;
    max-width: 144rem;
    padding: 0 10rem;
    &__image-box {
      flex-basis: 50%;
      @media screen and (min-width: 1270px) {
        flex-basis: 60%;
      }
    }
  }
  &__image {
    width: 100%;
    object-fit: contain;
  }
  &__text {
    text-align: center;
    font-family: var(--default-font);
    @media screen and (min-width: 800px) {
      flex-basis: 50%;
      align-self: center;
    }
    @media screen and (min-width: 1270px) {
      flex-basis: 40%;
      align-self: flex-end;
      text-align: left;
      background-color: var(--white);
      // transform: translateX(-20rem);
      margin-left: -20rem;
      padding: 10rem 0 0 10rem;
    }
  }
  &__h2 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    @media screen and (min-width: 1270px) {
      font-size: 4rem;
    }
  }
  &__p {
    font-size: 1.5rem;
    padding: 0 3rem;
    line-height: 1.5;
    font-weight: bold;
    color: var(--very-dark-grey);
    @media screen and (min-width: 1270px) {
      padding: 0;
    }
  }
}
