@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

//COLORS
$white: #ffffff;
$black: #000000;
$dark-gray: #8c8c8c;
$very-dark-gray: #696969;
//FONT FAMILY
$default-font: "Josefin Sans";
$secondary-font: "Alata";
:root {
  --white: #{$white};
  --black: #{$black};
  --dark-grey: #{$dark-gray};
  --very-dark-grey: #{$very-dark-gray};

  --default-font: #{$default-font};
  --secondary-font: #{$secondary-font};
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
